@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
header {
  display: flex;
  justify-content: center;
  color: red;
} */

/* aside {
  width: 10%;
  height: 100%;
}

footer {
  position: relative;
  bottom: 0;
  border: 1px solid black;
  width: 100%;
}

.sidebar {
  color: blue;
  display: inline;
  border: 1px solid black;
}

.main-content {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
} */
